
 .node circle {
    fill: #ffffff;
    stroke: green;
    stroke-width: 3px;
  }
 
  .node text { font: 14px sans-serif; }
 
  .link {
    fill: none;
    stroke: #838b8b;
    stroke-width: 10px;
  }
  